:root {
  --main-text-color: #333333;
  --secondary-text-color: #ffffff;
  --another-text-color: #757575;
  --acent-color: #28a745;
  --contener-color-blog: #0284d0;
  --hero-color-text: #e9e9e9;
  --input-text-color: #808080;
  --background-footer-color: #333333;
  --background-callback-color: #f4f4f4;
}

.section-title {
  margin-bottom: 35px;
}

.section-title-current {
  margin-top: 15px;
}

.section-text {
  margin-bottom: 14px;
}

.section-title-color {
  margin-bottom: 25px;
}

.section-title-color-current {
  margin-top: 5px;
}

.section-text-color {
  margin-bottom: 14px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Layout */
.header {
  padding-top: 20px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-section-link {
  margin-bottom: 11px;
}

.header-nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-section-item {
  margin-right: 12px;
}

.header-nav-section-item:last-child {
  margin-right: 0px;
}

.hero {
  padding-top: 44px;
  padding-bottom: 95px;
  text-align: center;
}

.hero-title {
  margin-bottom: 16px;
}

.hero-slogan {
  margin-bottom: 27px;
}

.works {
  padding-top: 30px;
  padding-bottom: 31px;
  text-align: center;
}

.works-item-title {
  margin-top: 10px;
  margin-bottom: 15px;
}

.solutions {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #28a745;
  color: #ffffff;
}

.cases {
  padding-top: 50px;
  padding-bottom: 46px;
  text-align: center;
}

.cases-text {
  margin-bottom: 37px;
}

.cases-img {
  margin-bottom: 7px;
}

.cases-img:last-child {
  margin-bottom: 0px;
}

.blog {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0284d0;
  color: #ffffff;
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
}

.team-member:last-child {
  margin-bottom: 0px;
}

.team-member-name {
  margin-top: 15px;
}

.team-member-job {
  margin-top: 11px;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 26px;
  padding-bottom: 30px;
}

.callback-form-imput {
  margin-bottom: 36px;
}

.callback-form-imput:last-child {
  margin-bottom: 0px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */