:root {
  --main-text-color: #333333;
  --secondary-text-color: #ffffff;
  --another-text-color: #757575;
  --acent-color: #28a745;
  --contener-color-blog: #0284d0;
  --hero-color-text: #e9e9e9;
  --input-text-color: #808080;
  --background-footer-color: #333333;
  --background-callback-color: #f4f4f4;
}

.button-inherit {
  max-width: 100%;
  display: inline-block;
  border: 1px solid var(--secondary-text-color);
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--secondary-text-color);
  background-color: inherit;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.button-color {
  max-width: 100%;
  display: inline-block;
  border: 0px;
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.section-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 35px;
}

.section-title-current {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 35px;
  margin-top: 15px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 14px;
}

.section-title-color {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 25px;
}

.section-title-color-current {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-top: 5px;
}

.section-text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 14px;
}

@media screen and (min-width: 767px) {
  .section-title-color {
    font-size: 20px;
    line-height: 1.65;
  }
  .section-text {
    font-size: 18px;
    line-height: 1.56;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}

/* Layout */
.header {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-logo-icon {
  width: 40px;
  height: 35px;
}

.header-nav-section-link {
  font-size: 32px;
  line-height: 1.32;
  font-style: 400;
  color: var(--secondary-text-color);
}

.header-nav-section-link-current {
  color: var(--acent-color);
}

.header-nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
}

.header-nav-section-item {
  font-size: 16px;
  line-height: 1.6;
  font-style: 400;
  color: var(--secondary-text-color);
  margin-right: 12px;
}

.header-nav-section-item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 767px) {
  .header {
    padding-top: 11px;
  }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-nav-section {
    margin-top: 0px;
  }
  .header-nav-section-link {
    font-size: 35px;
    line-height: 1.21;
  }
  .header-nav-section-item {
    font-size: 18px;
    line-height: 1.56;
    margin-right: 19px;
  }
}

@media screen and (min-width: 1360px) {
  .header-nav-section-item {
    margin-right: 38px;
  }
}

.hero-background {
  max-width: 320px;
  height: 533px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../../src/image/home/showcase.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../src/image/home/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-background {
    background-image: url(../../../src/image/home/showcase@2x.jpg);
  }
}

.hero {
  padding-top: 44px;
  padding-bottom: 95px;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  color: var(--hero-color-text);
  margin-top: 100px;
  margin-bottom: 16px;
}

.hero-slogan {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  color: var(--hero-color-text);
  margin-bottom: 27px;
}

@media screen and (min-width: 767px) {
  .hero-background {
    max-width: 768px;
    height: 1024px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../../src/image/home/showcase.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../src/image/home/showcase.jpg);
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: url(../../../src/image/home/showcase@2x.jpg);
  }
}

@media screen and (min-width: 767px) {
  .hero {
    padding-top: 357px;
    padding-bottom: 412px;
  }
  .hero-title {
    font-size: 55px;
    line-height: 1.2;
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .hero-slogan {
    margin-bottom: 29px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-background {
    max-width: 1360px;
    height: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../../src/image/home/showcase.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../src/image/home/showcase.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-background {
    background-image: url(../../../src/image/home/showcase@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 229px;
    padding-bottom: 284px;
  }
}

.works {
  padding-top: 30px;
  padding-bottom: 31px;
  text-align: center;
}

.works-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}

.works-item:last-child {
  margin-bottom: 0px;
}

.works-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--acent-color);
}

.works-icon {
  width: 34px;
  height: 34px;
  fill: var(--secondary-text-color);
}

.works-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  padding-top: 10px;
  padding-bottom: 15px;
}

.works-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 767px) {
  .works {
    padding-top: 40px;
    padding-bottom: 47px;
  }
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works-item {
    width: 185px;
    margin-bottom: -18px;
  }
  .works-item:last-child {
    margin-bottom: 0px;
  }
  .works-item-title {
    font-size: 20px;
    line-height: 1.65;
    padding-bottom: 16px;
  }
  .works-item-text {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    padding-bottom: 19px;
  }
  .works-item {
    width: 362px;
    margin-right: 70px;
  }
  .works-item:last-child {
    margin-right: 0px;
  }
  .works-item-title {
    padding-top: 15px;
  }
}

.solutions {
  background-color: var(--acent-color);
}

.solutions-description {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 767px) {
  .solutions-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team-img {
    min-width: 50%;
    height: 564px;
  }
}

@media screen and (min-width: 1360px) {
  .solutions-description {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.cases {
  padding-top: 50px;
  padding-bottom: 46px;
  text-align: center;
}

.cases-text {
  margin-bottom: 37px;
}

.cases-img {
  margin-bottom: 7px;
}

.cases-img:last-child {
  margin-bottom: 0px;
}

.blog-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--contener-color-blog);
  color: var(--secondary-text-color);
}

@media screen and (min-width: 767px) {
  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .blog-description {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
}

.team-member:last-child {
  margin-bottom: 0px;
}

.team-member-name {
  margin-top: 15px;
}

.team-member-job {
  margin-top: 11px;
}

@media screen and (min-width: 767px) {
  .team {
    padding-bottom: 60px;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team-member-name {
    margin-top: 14px;
  }
  .team-member-job {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member-name {
    margin-top: 11px;
  }
}

.callback {
  background-color: var(--background-callback-color);
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 26px;
  padding-bottom: 30px;
}

.callback-form-input {
  border: none;
  margin-bottom: 35px;
}

.callback-form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  padding-left: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: var(--input-text-color);
}

.callback-form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  padding-left: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--input-text-color);
}

.callback-form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  padding-left: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--input-text-color);
}

.callback-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--input-text-color);
}

@media screen and (min-width: 767px) {
  .callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .callback-form {
    padding-top: 78px;
    padding-bottom: 82px;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social-item {
  margin-right: 25px;
}

.footer-social-item:last-child {
  margin-right: 0px;
}

.footer-social-icon {
  width: 35px;
  height: 35px;
  fill: var(--secondary-text-color);
}

.footer-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */