// .button {

// }
.section-title {
  margin-bottom: 35px;
}
.section-title-current {
  margin-top: 15px;
}
.section-text {
  margin-bottom: 14px;
}

.section-title-color {
  margin-bottom: 25px;
}
.section-title-color-current {
  margin-top: 5px;
}
.section-text-color {
  margin-bottom: 14px;
}
