// -----------------------mobile--------------

.button-inherit {
  max-width: 100%;
  display: inline-block;
  border: 1px solid var(--secondary-text-color);
  padding: 10px 30px;
  border-radius: 5px;

  color: var(--secondary-text-color);
  background-color: inherit;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.button-color {
  max-width: 100%;
  display: inline-block;
  border: 0px;
  padding: 10px 30px;
  border-radius: 5px;

  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.section-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;

  margin-bottom: 35px;
}
.section-title-current {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  margin-bottom: 35px;
  margin-top: 15px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  margin-bottom: 38px;
}

.section-title-color {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;

  margin-bottom: 25px;
}
.section-title-color-current {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  margin-top: 5px;
}
.section-text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  margin-top: 25px;
  margin-bottom: 14px;
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .section-title-color {
    font-size: 20px;
    line-height: 1.65;
  }
  .section-text {
    font-size: 18px;
    line-height: 1.56;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1200px) {
}
