
            <section class="container second-container" id="cases">
                <!-- Cases -->
                <div class="cases">
                    <span class="section-title">This is what we do </span>
                    <h2 class="section-title-current">Business Cases</h2>
                    <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
                    <ul class="cases-img-list">
                        <li class="cases-item">
                            <a href="./src/image/cases/cases1.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases1.webp 1x,
                                    ./src/image/cases/cases1@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases1.jpg 1x,
                                    ./src/image/cases/cases1@2x.jpg 2x" media="(min-width: 1360px)">
                                
                                    <source srcset="./src/image/cases/cases1.webp 1x,
                                    ./src/image/cases/cases1@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases1.jpg 1x,
                                    ./src/image/cases/cases1@2x.jpg 2x" media="(min-width: 767px)">
                                
                                    <source srcset="./src/image/cases/cases1.webp 1x,
                                    ./src/image/cases/cases1@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases1.jpg 1x,
                                    ./src/image/cases/cases1@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases1.jpg" class="cases-img" alt="Team at the table">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases2.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases2.webp 1x,
                                    ./src/image/cases/cases2@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases2.jpg 1x,
                                    ./src/image/cases/cases2@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases2.webp 1x,
                                    ./src/image/cases/cases2@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases2.jpg 1x,
                                    ./src/image/cases/cases2@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases2.webp 1x,
                                    ./src/image/cases/cases2@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases2.jpg 1x,
                                    ./src/image/cases/cases2@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases2.jpg" class="cases-img" alt="Working on the laptop">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases3.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases3.webp 1x,
                                    ./src/image/cases/cases3@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases3.jpg 1x,
                                    ./src/image/cases/cases3@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases3.webp 1x,
                                    ./src/image/cases/cases3@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases3.jpg 1x,
                                    ./src/image/cases/cases3@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases3.webp 1x,
                                    ./src/image/cases/cases3@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases3.jpg 1x,
                                    ./src/image/cases/cases3@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases3.jpg" class="cases-img" alt="writing a plan">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases4.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases4.webp 1x,
                                    ./src/image/cases/cases4@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases4.jpg 1x,
                                    ./src/image/cases/cases4@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases4.webp 1x,
                                    ./src/image/cases/cases4@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases4.jpg 1x,
                                    ./src/image/cases/cases4@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases4.webp 1x,
                                    ./src/image/cases/cases4@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases4.jpg 1x,
                                    ./src/image/cases/cases4@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases4.jpg" class="cases-img" alt="large office buildings">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases5.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases5.webp 1x,
                                    ./src/image/cases/cases5@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases5.jpg 1x,
                                    ./src/image/cases/cases5@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases5.webp 1x,
                                    ./src/image/cases/cases5@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases5.jpg 1x,
                                    ./src/image/cases/cases5@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases5.webp 1x,
                                    ./src/image/cases/cases5@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases5.jpg 1x,
                                    ./src/image/cases/cases5@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases5.jpg" class="cases-img" alt="finding solutions">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases6.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases6.webp 1x,
                                    ./src/image/cases/cases6@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases6.jpg 1x,
                                    ./src/image/cases/cases6@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases6.webp 1x,
                                    ./src/image/cases/cases6@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases6.jpg 1x,
                                    ./src/image/cases/cases6@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases6.webp 1x,
                                    ./src/image/cases/cases6@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases6.jpg 1x,
                                    ./src/image/cases/cases6@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases6.jpg" class="cases-img" alt="friendly team">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases7.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases7.webp 1x,
                                    ./src/image/cases/cases7@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases7.jpg 1x,
                                    ./src/image/cases/cases7@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases7.webp 1x,
                                    ./src/image/cases/cases7@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases7.jpg 1x,
                                    ./src/image/cases/cases7@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases7.webp 1x,
                                    ./src/image/cases/cases7@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases7.jpg 1x,
                                    ./src/image/cases/cases7@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases7.jpg" class="cases-img" alt="stronger together">
                                </picture>
                            </a>
                        </li>
                        <li class="cases-item" data-lightbox="roadtrip">
                            <a href="./src/image/cases/cases8.jpg" data-lightbox="roadtrip">
                                <picture>
                                    <source srcset="./src/image/cases/cases8.webp 1x,
                                    ./src/image/cases/cases8@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases8.jpg 1x,
                                    ./src/image/cases/cases8@2x.jpg 2x" media="(min-width: 1360px)">
                
                                    <source srcset="./src/image/cases/cases8.webp 1x,
                                    ./src/image/cases/cases8@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases8.jpg 1x,
                                    ./src/image/cases/cases8@2x.jpg 2x" media="(min-width: 767px)">
                
                                    <source srcset="./src/image/cases/cases8.webp 1x,
                                    ./src/image/cases/cases8@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                    <source srcset="./src/image/cases/cases8.jpg 1x,
                                    ./src/image/cases/cases8@2x.jpg 2x" media="(min-width: 320px)">
                                    <img src="./src/image/cases/cases8.jpg" class="cases-img" alt="working together">
                                </picture>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
