<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <footer class="footer">
            <!-- Footer site -->
            <div class="container">
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a href="https://www.facebook.com/" target="_blank" class="footer-social-link">
                            <svg class="footer-social-icon">
                                <use href="./src/image/icon/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://twitter.com/" target="_blank" class="footer-social-link">
                            <svg class="footer-social-icon">
                                <use href="./src/image/icon/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.youtube.com/" target="_blank" class="footer-social-link">
                            <svg class="footer-social-icon">
                                <use href="./src/image/icon/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.linkedin.com/" target="_blank" class="footer-social-link">
                            <svg class="footer-social-icon">
                                <use href="./src/image/icon/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer-rights">Copyright &#169; 2021 - FinanceLedger</p>
        </footer>
</body>
</html>