<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Header site -->
        <div class="header">
            <div class="container">
                <nav class="header-nav">
                    <div class="header-nav-link">
                        <svg class="header-nav-logo-icon">
                            <use href="./src/image/icon/sprite.svg#icon-logo-book-open"></use>
                        </svg>
                        <a class="header-nav-section-link link" href="/index.html">
                            <span class="header-nav-section-link-current">Finance</span>Ledger
                        </a>
                    </div>
                    <ul class="header-nav-section">
                        <li class="header-nav-section-item">Home</li>
                        <li class="header-nav-section-item">About</li>
                        <li class="header-nav-section-item">Cases</li>
                        <li class="header-nav-section-item">Blog</li>
                        <li class="header-nav-section-item">Contact</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>