
    <header>
        <!-- Header site -->
        <div class="header" id="header-fix">
            <div class="container">
                <nav class="header-nav">
                    <div class="header-nav-link">
                        <svg class="header-nav-logo-icon">
                            <use href="./src/image/icon/sprite.svg#icon-logo-book-open"></use>
                        </svg>
                        <a class="header-nav-section-link link" href="/index.html">
                            <span class="header-nav-section-link-current">Finance</span>Ledger
                        </a>
                    </div>
                    <ul class="header-nav-section-list">
                        <li class="header-nav-section-item">
                            <a href="#hero" class="link header-nav-section-item-link">Home</a>
                        </li>
                        <li class="header-nav-section-item">
                            <a href="#solutions" class="link header-nav-section-item-link">About</a>
                        </li>
                        <li class="header-nav-section-item">
                            <a href="#cases" class="link header-nav-section-item-link">Cases</a> 
                        </li>
                        <li class="header-nav-section-item">
                            <a href="#blog" class="link header-nav-section-item-link">Blog</a>
                        </li>
                        <li class="header-nav-section-item">
                            <a href="#callback" class="link header-nav-section-item-link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>