<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <!-- Ouwer works -->
        <div class="works">
            <ul class="works-list">
                <li class="works-item">
                    <span class="works-item-icon">
                        <svg class="works-icon">
                            <use href="./src/image/icon/sprite.svg#icon-university"></use>
                        </svg>
                    </span>
                    <h2 class="works-item-title">Investmant Banking</h2>
                    <p class="works-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                        necessitatibus!</p>
                </li>
                <li class="works-item">
                    <div class="works-item-icon">
                        <svg class="works-icon">
                            <use href="./src/image/icon/sprite.svg#icon-human-open"></use>
                        </svg>
                    </div>
                    <h2 class="works-item-title">Portfolio Manager</h2>
                    <p class="works-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                        necessitatibus!</p>
                </li>
                <li class="works-item">
                    <div class="works-item-icon">
                        <svg class="works-icon">
                            <use href="./src/image/icon/sprite.svg#icon-pencil"></use>
                        </svg>
                    </div>
                    <h2 class="works-item-title">Tax & Custudio</h2>
                    <p class="works-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
                        necessitatibus!</p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>