
    <section class="solutions" id="solutions">
        <div class="solutions-container">
            <div class="solutions-img-wrapper">
                <picture>
                    <source srcset="./src/image/home/people.webp 1x,
                    ./src/image/home/people@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                    <source srcset="./src/image/home/people.jpg 1x,
                    ./src/image/home/people@2x.jpg 2x" media="(min-width: 1360px)">
    
                    <source srcset="./src/image/home/people.webp 1x,
                    ./src/image/home/people@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                    <source srcset="./src/image/home/people.jpg 1x,
                    ./src/image/home/people@2x.jpg 2x" media="(min-width: 767px)">
    
                    <source srcset="./src/image/home/people.webp 1x,
                    ./src/image/home/people@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                    <source srcset="./src/image/home/people.jpg 1x,
                    ./src/image/home/people@2x.jpg 2x" media="(min-width: 320px)">
                    <img src="./src/image/home/people.jpg" class="solutions-img" alt="Smile team">
                </picture>
            </div>
    
            <div class="container">
                <div class="solutions-description">
                    <span class="section-title-color">What you are looking for </span>
                    <h2 class="section-title-color-current">We provide bespoke solutions</h2>
                    <p class="section-text-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
                        dignissimos quae laudantium asperiores nam
                        aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
                        maiores deleniti?</p>
                    <button class="button-inherit" type="button">Read More</button>
                </div>
            </div>
        </div>
    </section>
