
            <section class="container">
                <!-- Team -->
                <div class="team">
                    <span class="section-title">Who we are </span>
                    <h2 class="section-title-current">Our Professional Team</h2>
                    <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
                    <ul class="team-list">
                        <li class="team-member">
                            <picture>
                                <source srcset="./src/image/team/person1.webp 1x,
                                ./src/image/team/person1@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                <source srcset="./src/image/team/person1.jpg 1x,
                                ./src/image/team/person1@2x.jpg 2x" media="(min-width: 1360px)">
            
                                <source srcset="./src/image/team/person1.webp 1x,
                                ./src/image/team/person1@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                <source srcset="./src/image/team/person1.jpg 1x,
                                ./src/image/team/person1@2x.jpg 2x" media="(min-width: 767px)">
            
                                <source srcset="./src/image/team/person1.webp 1x,
                                ./src/image/team/person1@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                <source srcset="./src/image/team/person1.jpg 1x,
                                ./src/image/team/person1@2x.jpg 2x" media="(min-width: 320px)">
                                <img src="./src/image/team/person1.jpg" class="team-img" alt="John Doe President">
                            </picture>
                            <h3 class="team-member-name">John Doe</h3>
                            <p class="team-member-job">President</p>
                        </li>
                        <li class="team-member">
                            <picture>
                                <source srcset="./src/image/team/person2.webp 1x,
                                ./src/image/team/person2@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                <source srcset="./src/image/team/person2.jpg 1x,
                                ./src/image/team/person2@2x.jpg 2x" media="(min-width: 1360px)">
            
                                <source srcset="./src/image/team/person2.webp 1x,
                                ./src/image/team/person2@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                <source srcset="./src/image/team/person2.jpg 1x,
                                ./src/image/team/person2@2x.jpg 2x" media="(min-width: 767px)">
            
                                <source srcset="./src/image/team/person2.webp 1x,
                                ./src/image/team/person2@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                <source srcset="./src/image/team/person2.jpg 1x,
                                ./src/image/team/person2@2x.jpg 2x" media="(min-width: 320px)">
                                <img src="./src/image/team/person2.jpg" class="team-img" alt="Jane Doe Vice President">
                            </picture>
                            <h3 class="team-member-name">Jane Doe</h3>
                            <p class="team-member-job">Vice President</p>
                        </li>
                        <li class="team-member">
                            <picture>
                                <source srcset="./src/image/team/person3.webp 1x,
                                ./src/image/team/person3@2x.webp 2x" media="(min-width: 1360px)" type="image/webp">
                                <source srcset="./src/image/team/person3.jpg 1x,
                                ./src/image/team/person3@2x.jpg 2x" media="(min-width: 1360px)">
            
                                <source srcset="./src/image/team/person3.webp 1x,
                                ./src/image/team/person3@2x.webp 2x" media="(min-width: 767px)" type="image/webp">
                                <source srcset="./src/image/team/person3.jpg 1x,
                                ./src/image/team/person3@2x.jpg 2x" media="(min-width: 767px)">
            
                                <source srcset="./src/image/team/person3.webp 1x,
                                ./src/image/team/person3@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                <source srcset="./src/image/team/person3.jpg 1x,
                                ./src/image/team/person3@2x.jpg 2x" media="(min-width: 320px)">
                                <img src="./src/image/team/person3.jpg" class="team-img" alt="Steve Smith Marketing Head">
                            </picture>
                            <h3 class="team-member-name">Steve Smith</h3>
                            <p class="team-member-job">Marketing Head</p>
                        </li>
                    </ul>
                </div>
            </section>
