// -----------------------mobile--------------
.callback {
  background-color: var(--background-callback-color);
}
// .callback-img {}
.callback-form {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 30px;
}
.callback-form-input {
  border: none;
  margin-bottom: 35px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.44;
    padding-left: 5px;

    display: flex;
    align-items: center;

    color: var(--input-text-color);
  }
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .callback-container {
    display: flex;
    flex-basis: calc(100% / 2);
    height: 349px;
  }
  .callback-img-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .callback-img {
    min-width: 525px;
    margin: 0 0 0 -80px;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1200px) {
  .callback-container {
    height: 460px;
  }
  .callback-img-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .callback-img {
    width: 100%;
    margin: -20px 0 0 0;
  }
  .callback-form {
    padding-top: 78px;
    padding-bottom: 82px;
  }
  .callback-form-input {
    &::placeholder {
      &:focus {
        border: none;
        color: yellow;
      }
    }
  }
}
