// -----------------------mobile--------------
.cases {
  padding-top: 50px;
  padding-bottom: 46px;
  text-align: center;
}
.cases-text {
  margin-bottom: 37px;
}
.cases-img-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases-item {
  max-width: 450px;
  margin-bottom: 7px;
  &:last-child {
    margin-bottom: 0px;
  }
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .second-container {
    padding: 0 28px;
  }
  .cases-img-list {
    flex-wrap: wrap;
    flex-direction: row;
    margin: -4px;
  }
  .cases-item {
    width: 172px;
    height: 115px;
    margin: 4px;

    &:last-child {
      margin-bottom: auto;
    }
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1360px) {
  .cases-item {
    width: 320px;
    height: 214px;
  }
}
