// -----------------------mobile--------------
.header-background {
  max-width: 320px;
  height: 533px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../src/image/home/showcase.jpg);
  // background-color: var(--background-hero-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header-background {
    background-image: url(../../../src/image/home/showcase@2x.jpg);
  }
}

.header {
  padding-top: 20px;
}
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-nav-link {
  display: flex;
  align-items: center;
}
.header-nav-logo-icon {
  // display: block;
  width: 40px;
  height: 35px;
}
.header-nav-section-link {
  font-size: 32px;
  line-height: 1.32;
  font-style: 400;

  color: var(--secondary-text-color);
}
.header-nav-section-link-current {
  color: var(--acent-color);
}
.header-nav-section {
  display: flex;
  margin-top: 11px;
}
.header-nav-section-item {
  font-size: 16px;
  line-height: 1.6;
  font-style: 400;
  color: var(--secondary-text-color);

  margin-right: 12px;

  &:last-child {
    margin-right: 0px;
  }
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .header-background {
    max-width: 768px;
    height: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../../src/image/home/showcase.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-background {
      background-image: url(../../../src/image/home/showcase@2x.jpg);
    }
  }
  .header {
    padding-top: 11px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-section {
    margin-top: 0px;
  }
  .header-nav-section-link {
    font-size: 35px;
    line-height: 1.21;
  }
  .header-nav-section-item {
    font-size: 18px;
    line-height: 1.56;

    margin-right: 19px;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1360px) {
  .header-background {
    max-width: 1360px;
    height: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../../src/image/home/showcase.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-background {
      background-image: url(../../../src/image/home/showcase@2x.jpg);
    }
  }
  .header-nav-section-item {
    margin-right: 38px;
  }
}
