// -----------------------mobile--------------

.hero-background {
  max-width: 320px;
  height: 533px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../../src/image/home/showcase.jpg);
  // background-color: var(--background-hero-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header-background {
    background-image: url(../../../src/image/home/showcase@2x.jpg);
  }
}
.hero {
  padding-top: 44px;
  padding-bottom: 95px;
  text-align: center;
}
.hero-title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  color: var(--hero-color-text);

  margin-top: 100px;
  margin-bottom: 16px;
}
.hero-slogan {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  color: var(--hero-color-text);

  margin-bottom: 27px;
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .hero-background {
    max-width: 768px;
    height: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../../src/image/home/showcase.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-background {
      background-image: url(../../../src/image/home/showcase@2x.jpg);
    }
  }
  .hero {
    padding-top: 357px;
    padding-bottom: 412px;
  }
  .hero-title {
    font-size: 55px;
    line-height: 1.2;
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .hero-slogan {
    margin-bottom: 29px;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1200px) {
  .hero-background {
    max-width: 1360px;
    height: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../../src/image/home/showcase.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-background {
      background-image: url(../../../src/image/home/showcase@2x.jpg);
    }
  }
  .hero {
    padding-top: 229px;
    padding-bottom: 284px;
  }
}
