.works {
  padding-top: 30px;
  padding-bottom: 31px;
  text-align: center;
}
// .works-list {}
// .works-item {

// }
.works-item-title {
  margin-top: 10px;
  margin-bottom: 15px;
}
// .works-item-text {
//   margin-bottom: 18px;

//   &:last-child {
//     margin-bottom: 0px;
//   }
// }
