// -----------------------mobile--------------

.works {
  padding-top: 30px;
  padding-bottom: 31px;
  text-align: center;
}
// .works-list {}
// .works-item {

// }
.works-item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0px;
  }
}
.works-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;

  padding-top: 10px;
  padding-bottom: 15px;
}
.works-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .works {
    padding-top: 40px;
    padding-bottom: 47px;
  }
  .works-list {
    display: flex;
    justify-content: space-between;
  }
  .works-item {
    width: 185px;
    margin-bottom: -18px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  .works-item-title {
    font-size: 20px;
    line-height: 1.65;

    padding-bottom: 16px;
  }
  .works-item-text {
    font-size: 18px;
    line-height: 1.56;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1200px) {
  .works {
    padding-bottom: 19px;
  }
  .works-item {
    width: 362px;
    margin-right: 70px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .works-item-title {
    padding-top: 15px;
  }
}
