// -----------------------mobile--------------
.solutions {
  background-color: var(--acent-color);
}
// .solutions-img {
//   display: block;
// }
// .team-img {

// }
.solutions-description {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .solutions-contain {
    display: flex;
  }
  .team-img {
    min-width: 50%;
    height: 564px;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1360px) {
  .solutions-description {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
