// -----------------------mobile--------------

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
// .team-list {}
.team-member {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.team-member-name {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.25;

  margin-top: 15px;
}
.team-member-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  margin-top: 11px;
}

// -------------------tablet---------------------

@media screen and (min-width: 767px) {
  .team {
    padding-bottom: 140px; // ????
  }
  .team-list {
    display: flex;
    margin: -10px;
  }
  .team-member {
    width: 223px;
    height: 148px;
    margin: 10px;

    &:last-child {
      margin-bottom: auto;
    }
  }
  .team-member-name {
    margin-top: 14px;
  }
  .team-member-job {
    margin-top: 12px;
  }
}

// -----------------------desktop--------------------

@media screen and (min-width: 1200px) {
  .team-member {
    width: 420px;
    height: 280px;
  }
  .team-member-name {
    margin-top: 11px;
  }
}
